<div class="modal_wrap modal_wrap--recommend">
	<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
	<h4>Write a recommendation for {{user.name}} and make their day!</h4>
	<div class="modal_wrap__avatar">
		<img ng-src="{{user.avatar}}"/>
	</div>

	<textarea cols="40" rows="5" class="modal_wrap__textarea"> </textarea>

	<p class="help-block">What is {{user.name}} especially good at?
		<input type="text"/>
	</p>

	<div class="checkbox">
    <label>
      <input type="checkbox"> Share this on Facebook
    </label>
  </div>
	<button class="btn default-btn modal_wrap__btn">SAVE</button>
	<a href="" ng-click="close()"> cancel </a>

</div>