<div class="container" ng-controller="HeaderCtrl">
  <header>
    <div class="logo">
      <a href="#"><img src="images/logo.png" title="styleseat"></a>
    </div>

    <div class="nav-main">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <form id="nav-search-form" class="pull-left" ng-show="$state.current.name === 'search'">
            <input id="nav-bar-search" type="text" name="search" placeholder="Find a Professional">
            <button></button>
          </form>
          <!-- Brand and toggle get grouped for better mobile display -->
<!--           <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div> -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse fixed-header-size" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class=""><a ui-sref="browserPhoto">BROWSE PHOTOS</a></li>
              <li><a href="#">HOW IT WORKS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">SIGN UP</a></li>
              <li><a href="#">LOGIN</a></li>
              <li>
                <a class="list-business" href="#">LIST YOUR BUSINESS</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </header>
</div>